<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:orientation="vertical"
    p1:layout_width="fill_parent"
    p1:layout_height="fill_parent">
    <LinearLayout
        p1:orientation="vertical"
        p1:layout_width="fill_parent"
        p1:layout_height="fill_parent"
        p1:background="@drawable/background"
        p1:gravity="center">
        <ImageButton
            p1:src="@drawable/bg_single_btn"
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:id="@+id/btnSingle"
            p1:background="@android:color/transparent" />
        <ImageButton
            p1:src="@drawable/bg_multiple_btn"
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:id="@+id/btnMultiple"
            p1:background="@android:color/transparent"
            p1:layout_marginTop="60dp"
            p1:layout_marginBottom="60dp" />
        <ImageButton
            p1:src="@drawable/bg_options_btn"
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:id="@+id/btnOptions"
            p1:background="@android:color/transparent" />
    </LinearLayout>
    <ImageButton
        p1:src="@drawable/bg_info_btn"
        p1:layout_width="wrap_content"
        p1:layout_height="wrap_content"
        p1:id="@+id/btnInfo"
        p1:layout_alignParentBottom="true"
        p1:layout_alignParentRight="true"
        p1:layout_marginRight="10dp"
        p1:layout_marginBottom="10dp"
        p1:background="@android:color/transparent" />
</RelativeLayout>